.template{
	background:#D8D9E0;
	padding: 4px 9px 4px 9px;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	
}

select.styled {
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: auto;
}

#main-box-header{
	height: 88px;
	width: 869.1px;
	cursor: default;
	border: 0;
	overflow: hidden !important;
	text-align: left;
	color: #666666;
	/*font: 11px Arial, Helvetica, sans-serif;*/
    line-height: 14px;
}
#main-box-header *{
    font: 11px Tahoma;
}