#second-menu {
	position: relative;
	clear: left;
	height: 22px;
	//background: url(../../images/ang2.png) no-repeat;
	margin: 7px 0;
	border-left: 109px solid #8B9BA8 !important;
	border-bottom: 4px solid #8B9BA8;
}
#second-menu ul {
	list-style-type: none;
	position: absolute;
	right: 23px;
}
#second-menu ul li {
	float: left;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFA;
	text-decoration: none;
	height: 17px;
	padding: 3px 0px 2px;
	margin-right: -7px;
	cursor: pointer;
	display: list-item;
	text-align: -webkit-match-parent;
        border-radius: 0 2px 0 0;
        position: relative;
        margin-top: px;
}
#second-menu a {
	text-decoration: none;
	color: #FFFFFA;
}


#second-menu #left-tab {
	position: absolute;
	font-size: 11px;
	font-weight: bold;
	left: -85px;
	top: 6px;
	color: #FFFFFA;
}

.second-menu-block
{
    background-color: #8B9BA8;
    color: white;
    border-radius: 3px / 4px 2px 0 0;
    float: left;
    font-family: 'Arial Fet','Arial';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    height: 19px;
    line-height: 18px;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 16px;
    position: relative;
    border-right:1px solid white;
   
}

.second-menu-bord{
    width: 1px;
    height: 27px;
    border: 0px solid black;
    background-color: white;  
    float: left;
    -webkit-transform: rotateZ(31.637deg)   ;
    transform: rotateZ(31.637deg)   ;
    margin-top: -6px;
    margin-left: 8px;
}
.second-menu-ang
{
    border-top:0px;
    border-right:0px;
   border-bottom: 18px solid #8B9BA8;
    border-color: transparent #8B9BA8 #8B9BA8 transparent;
    border-left: 12px outset transparent;
    border-style: solid solid solid outset;
    bottom: 0;
    float: left;
    height: 0;
    margin-right: -1px;
    margin-top: 1px;
    width: 0;
     margin-left: -8px;
    
}

.second-menu-left-block{
    border-top-right-radius: 4px 11px;
    height: 22px;
    width: 8px;
    float: left;
    background-color: #8B9BA8;
}
.second-menu-left-ang{
    border-top:0px;
    border-right:0px;
    border-bottom: 22px solid #8B9BA8;
    border-color: transparent transparent #8B9BA8 #8B9BA8;
    border-right: 12px outset transparent;
    bottom: 0;
    float: left;
    height: 0;
    margin-left: -2px;
    margin-top: 1px;
    width: 0;
    // margin-left: -8px;    
}


#second-menu .item-inactive .second-menu-ang{
	//border-color: #B1B4BD;
        border-color: transparent #B1B4BD #B1B4BD transparent;
}

#second-menu .item-inactive .second-menu-block{
	background-color: #B1B4BD;
       
}

#second-menu .item-active .second-menu-ang{
	
       
}

#second-menu .item-active .second-menu-block{
     z-index:2;      
}

.pre-second-menu-first-block{
    float:left;
    height: 26px;
    width: 8px;
    background-color: #c5c5c5;
    margin-left: -109px;
}

.pre-second-menu-second-block{
    float:left;
    height: 26px;
    width: 8px;
    background-color: #9eacb6;
    margin-left: -101px;
}