.acc-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 11px Arial, Helvetica, sans-serif;
}

.i-head {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	position: relative;
	background: url(../images/acc.png) repeat-x;
	height: 20px;
	cursor: pointer;
}

.i-title {
	font-weight: bold;
	padding: 0 8px;
	vertical-align: -4px;
	color: #666;
	/*cursor: default;*/
}

.i-arrow {
	position: absolute;
	top: 3px;
	right: 4px;
	width: 16px;
	height: 16px;
	/*cursor: pointer;*/
	background: url(../images/acc_btns.gif) no-repeat;
	background-position: 0 0;
}

.arrow-exp { background-position: -16px 0; }

.i-body {
	overflow: auto;
}

.i-content { padding: 1px 0; }