body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1215px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:608px;
  opacity:0.5;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:612px;
}
#u1 {
  position:absolute;
  left:2px;
  top:296px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:571px;
  width:302px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:24px;
  width:302px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:6px;
  width:40px;
  height:14px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:9px;
  top:29px;
  width:225px;
  height:18px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:18px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:240px;
  top:29px;
  width:56px;
  height:18px;
  font-size:11px;
  color:#464646;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:53px;
  width:302px;
  height:22px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:22px;
}
#u14 {
  position:absolute;
  left:9px;
  top:4px;
  width:291px;
  word-wrap:break-word;
}
#u13_ann {
  position:absolute;
  left:295px;
  top:49px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:36px;
  top:77px;
  width:84px;
  height:33px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:310px;
  top:0px;
  width:905px;
  height:612px;
}
#u18 {
  position:absolute;
  left:56px;
  top:114px;
  width:154px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:39px;
  top:98px;
  width:109px;
  height:14px;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:4px;
  top:100px;
  width:14px;
  height:9px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:18px;
  top:96px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:35px;
  top:98px;
  width:114px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26_ann {
  position:absolute;
  left:142px;
  top:94px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:39px;
  top:80px;
  width:108px;
  height:14px;
  font-size:11px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:4px;
  top:82px;
  width:14px;
  height:9px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:18px;
  top:78px;
  width:16px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:35px;
  top:80px;
  width:114px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33_ann {
  position:absolute;
  left:142px;
  top:76px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:153px;
  top:80px;
  width:81px;
  height:21px;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:87px;
  height:27px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u38 {
  position:absolute;
  left:5px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u37_ann {
  position:absolute;
  left:67px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:57px;
  top:117px;
  width:92px;
  height:14px;
  font-size:11px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:51px;
  top:117px;
  width:98px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41_ann {
  position:absolute;
  left:142px;
  top:113px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:22px;
  top:119px;
  width:14px;
  height:9px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:36px;
  top:115px;
  width:16px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:153px;
  top:116px;
  width:116px;
  height:105px;
}
#u47_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:122px;
  height:111px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u50 {
  position:absolute;
  left:5px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u49_ann {
  position:absolute;
  left:102px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:21px;
  width:116px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u52 {
  position:absolute;
  left:5px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u51_ann {
  position:absolute;
  left:102px;
  top:21px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:42px;
  width:116px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u54 {
  position:absolute;
  left:5px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:63px;
  width:116px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u56 {
  position:absolute;
  left:5px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:84px;
  width:116px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u58 {
  position:absolute;
  left:5px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:75px;
  top:136px;
  width:71px;
  height:14px;
  font-size:11px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:69px;
  top:136px;
  width:82px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61_ann {
  position:absolute;
  left:144px;
  top:132px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:54px;
  top:135px;
  width:16px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u63 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:154px;
  top:136px;
  width:87px;
  height:63px;
}
#u65_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:69px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:68px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u68 {
  position:absolute;
  left:5px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u67_ann {
  position:absolute;
  left:73px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:21px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u70 {
  position:absolute;
  left:5px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:42px;
  width:87px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u72 {
  position:absolute;
  left:5px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u71_ann {
  position:absolute;
  left:73px;
  top:42px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:151px;
  top:95px;
  width:81px;
  height:21px;
}
#u74_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:87px;
  height:27px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u77 {
  position:absolute;
  left:5px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u76_ann {
  position:absolute;
  left:67px;
  top:0px;
  width:1px;
  height:1px;
}
