body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:777px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:61px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:61px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1145px;
  top:5px;
  width:79px;
  height:14px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1071px;
  top:5px;
  width:70px;
  height:14px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#D8E1E2;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1160px;
  top:44px;
  width:63px;
  height:17px;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1064px;
  top:44px;
  width:91px;
  height:17px;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:644px;
  top:40px;
  width:79px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:578px;
  top:40px;
  width:66px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:451px;
  top:40px;
  width:127px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:21px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:365px;
  top:40px;
  width:86px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:263px;
  top:40px;
  width:102px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:190px;
  top:40px;
  width:73px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:86px;
  top:40px;
  width:104px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:16px;
  top:40px;
  width:69px;
  height:21px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u25_ann {
  position:absolute;
  left:78px;
  top:36px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:1047px;
  top:5px;
  width:19px;
  height:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:956px;
  top:-1px;
  width:83px;
  height:62px;
}
#u29_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:89px;
  height:68px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:67px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u32 {
  position:absolute;
  left:5px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u31_ann {
  position:absolute;
  left:69px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:21px;
  width:83px;
  height:21px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u34 {
  position:absolute;
  left:5px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u33_ann {
  position:absolute;
  left:69px;
  top:21px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:42px;
  width:83px;
  height:20px;
  font-size:10px;
  color:#666666;
  line-height:6px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u36 {
  position:absolute;
  left:5px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u35_ann {
  position:absolute;
  left:69px;
  top:42px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:729px;
  width:1240px;
  height:48px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:48px;
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:189px;
  top:1px;
  width:78px;
  height:42px;
}
#u40_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:84px;
  height:48px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  font-size:10px;
  color:#FF0000;
  line-height:6px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u43 {
  position:absolute;
  left:5px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:21px;
  width:78px;
  height:21px;
  font-size:10px;
  color:#FF0000;
  line-height:6px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u45 {
  position:absolute;
  left:5px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:364px;
  top:0px;
  width:78px;
  height:42px;
}
#u46_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:84px;
  height:48px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  font-size:10px;
  color:#FF0000;
  line-height:6px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u49 {
  position:absolute;
  left:5px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:21px;
  width:78px;
  height:21px;
  font-size:10px;
  color:#FF0000;
  line-height:6px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u51 {
  position:absolute;
  left:5px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:577px;
  top:2px;
  width:78px;
  height:42px;
}
#u52_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:84px;
  height:48px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  font-size:10px;
  color:#FF0000;
  line-height:6px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u55 {
  position:absolute;
  left:5px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:21px;
  width:78px;
  height:21px;
  font-size:10px;
  color:#FF0000;
  line-height:6px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u57 {
  position:absolute;
  left:5px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:460px;
  top:304px;
}
#u58_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u58_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:105px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:109px;
}
#u60 {
  position:absolute;
  left:2px;
  top:44px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:24px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:24px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:11px;
  top:6px;
  width:61px;
  height:14px;
  font-family:'Arial Fet', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:277px;
  top:5px;
  width:15px;
  height:15px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:237px;
  top:77px;
  width:52px;
  height:18px;
  font-size:11px;
  color:#464646;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u68 {
  position:absolute;
  left:9px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:199px;
  top:77px;
  width:32px;
  height:18px;
  font-size:11px;
  color:#464646;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u70 {
  position:absolute;
  left:9px;
  top:2px;
  width:14px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:11px;
  top:31px;
  width:186px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:14px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
